 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1301px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 32px auto 0;
}

.u-section-1 .u-form-1 {
  height: 162px;
  margin: -16px 845px 0 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(#808080, white);
}

.u-section-1 .u-form-2 {
  height: 160px;
  margin: -160px 570px 0 315px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(#808080, white);
}

.u-section-1 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  margin: 0 0 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 618px;
  grid-gap: 30px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-1 {
  width: 255px;
  height: 249px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 270px;
  min-height: 249px;
  background-size: auto;
  margin: -249px 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 25px;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  margin: 20px 0 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-size: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-2 {
  width: 255px;
  height: 249px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-2 {
  width: 270px;
  min-height: 249px;
  background-size: auto;
  margin: -249px 0 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 25px;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  margin: 20px 0 0 auto;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-size: auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-3 {
  width: 255px;
  height: 249px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-3 {
  width: 270px;
  min-height: 249px;
  background-size: auto;
  margin: -249px 0 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 25px;
}

.u-section-1 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-9 {
  font-style: italic;
  margin: 20px 0 0 auto;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-4 {
  background-size: auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-4 {
  width: 255px;
  height: 249px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-4 {
  width: 270px;
  min-height: 249px;
  background-size: auto;
  margin: -249px 0 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 25px;
}

.u-section-1 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-12 {
  font-style: italic;
  margin: 20px 0 0 auto;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-top: -33px;
    margin-right: 690px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 448px;
    margin-left: 238px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -8px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 155px;
  }

  .u-section-1 .u-image-2 {
    width: 155px;
  }

  .u-section-1 .u-image-3 {
    width: 155px;
  }

  .u-section-1 .u-image-4 {
    width: 155px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    width: 570px;
    margin-top: 601px;
    margin-right: 425px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 338px;
    margin-left: 128px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -671px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-1 .u-image-1 {
    width: 300px;
  }

  .u-section-1 .u-group-1 {
    width: 377px;
  }

  .u-section-1 .u-image-2 {
    width: 300px;
  }

  .u-section-1 .u-group-2 {
    width: 377px;
  }

  .u-section-1 .u-image-3 {
    width: 300px;
  }

  .u-section-1 .u-group-3 {
    width: 377px;
  }

  .u-section-1 .u-image-4 {
    width: 300px;
  }

  .u-section-1 .u-group-4 {
    width: 377px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
    margin-top: 634px;
    margin-right: 245px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 248px;
    margin-left: 38px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -678px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 245px;
  }

  .u-section-1 .u-group-1 {
    width: 265px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-2 {
    width: 245px;
  }

  .u-section-1 .u-group-2 {
    width: 265px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-3 {
    width: 245px;
  }

  .u-section-1 .u-group-3 {
    width: 265px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-4 {
    width: 245px;
  }

  .u-section-1 .u-group-4 {
    width: 265px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    margin-top: 1366px;
    margin-right: 45px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 86px;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    height: auto;
    margin-top: -1359px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 177px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-2 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-2 {
    min-height: 177px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-3 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-3 {
    min-height: 177px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-4 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-4 {
    min-height: 177px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-top: 0;
  }
}